.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;

    &__logo {
        width: calc(5rem * (1/1)); //Calc the aspect ration exemple
        height: 5rem;
        object-fit: contain;
    }
}