.calendar_day_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 4rem;
    gap: .3rem;

    background-color: var(--black);
    border: none;
    border-radius: 8px;
    font-size: large;
    overflow: hidden;
    cursor: pointer;

    h2 {
        width: 100%;
        height: auto;
    }
}